.movies-list {
    background-color: #fafafa;
    width: 100%;
    padding-top: 10px;
}

.movies-list__container {
    padding: 70px 0 30px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 32px 20px;
}

.movies-list__nth {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    opacity: 0.7;
}

.movies-list__more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 80px;
    background-color: #fafafa;
}

.movies-list__more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 36px;
    font-size: 12px;
    font-weight: 500;
    border: 0;
    border-radius: 6px;
    background-color: #f4f4f4;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.movies-list__more-btn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1180px) {
    .movies-list__container {
        width: 850px;
    }
}

@media screen and (max-width: 1023px) {
    .movies-list {
        padding-top: 11px;
    }

    .movies-list__container {
        width: 708px;
        gap: 36px 30px;
    }
}

@media screen and (max-width: 767px) {
    .movies-list {
        
    }

    .movies-list__container {
        padding: 40px 0 30px;
        width: 300px;
        gap: 20px;
    }

    .movies-list__more-btn {
        width: 240px;
    }
}